                @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
                * {
                    padding: 0;
                    margin: 0;
                    list-style-type: none !important;
                    text-decoration: none !important;
                    scroll-behavior: smooth !important;
                    box-sizing: border-box;
                }
                
                body {
                    background-image: url("/assets/images/webp/background-image.webp") !important;
                    background-position: center;
                    background-repeat: no-repeat;
                    /* background-size: cover; */
                }
                
                .z_15 {
                    z-index: 15 !important;
                }
                
                .bg_body {
                    background-color: #010101 !important;
                }
                
                .ff_opensans {
                    font-family: "Open Sans", sans-serif;
                }
                
                .ff_montserrat {
                    font-family: "Montserrat", sans-serif;
                }
                
                .ff_roboto {
                    font-family: "Roboto", sans-serif;
                }
                
                 :root {
                    /*=========font-size========*/
                    --fs-xs: 16px;
                    --fs-sm: 18px;
                    --fs-md: 20px;
                    --fs_2md: 21.13px;
                    --fs-4md: 24px;
                    --fs-8md: 28px;
                    --fs-lg: 32px;
                    --fs-6lg: 36px;
                    --fs-xl: 40px;
                    --fs-8xl: 48px;
                    --fs-xxl: 52px;
                    --fs-2xxl: 70px;
                    --fs-3xxl: 88.24px;
                    /*=============line-height============= */
                    --lh-xsm: 24px;
                    --lh-sm: 25px;
                    --lh-md: 25.6px;
                    --lh-2md: 26px;
                    --lh-lg: 27.24px;
                    --lh-2lg: 28px;
                    --lh-xl: 29px;
                    --lh-xxl: 30px;
                    --lh-2xl: 33px;
                    --lh-3xl: 34px;
                    --lh-4xl: 44px;
                    --lh-5xl: 46px;
                    --lh-6xl: 47px;
                    --lh-7xl: 60px;
                    --lh-8xl: 65px;
                    --lh-9xl: 62px;
                    --lh-10xl: 75px;
                    --lh-11xl: 87px;
                    --lh-12xl: 103px;
                    --lh-6xxl: 54.47px;
                    /*==========colors=========*/
                    --clr-black: #010101;
                    --c-gray: #CCCECF;
                    --c-black-100: #010101;
                    --off-black: #0b0e10;
                    --off-black2: #0b0f11;
                    --off-black3: #020507;
                    --off-black4: #010101;
                    --off-black5: #15171a;
                    --gray2: #4d4f51;
                    --green: #00ffe1;
                    --c-gray: #CCCECF;
                    --c-black-100: #010101;
                    --c-light-green: #23CAE7;
                    --white: #ffffff;
                    --black: #000000;
                    --greenlight: #00FFE1;
                    --gray: #B2B5B6;
                    --black-gray: #0F1B22;
                    /* new add */
                    --cc-gray: #CCCCCC;
                    --cd-gray: #CCCDCD;
                }
                
                .cc-gray {
                    color: var(--cc-gray);
                }
                
                .cd-gray {
                    color: var(--cd-gray);
                }
                
                .c-gray {
                    color: var(--c-gray);
                }
                
                .c-black-100 {
                    color: var(--c-black-100) !important;
                }
                
                .c-light-green {
                    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
                    color: transparent;
                    background-clip: text;
                }
                
                .off-black {
                    color: var(--off-black);
                }
                
                .off-black2 {
                    color: var(--off-black2);
                }
                
                .off-black3 {
                    color: var(--off-black3);
                }
                
                .gray {
                    color: var(--gray);
                }
                
                .gray2 {
                    color: var(--gray2);
                }
                
                .green {
                    color: var(--green);
                }
                
                .c-gray {
                    color: var(--c-gray);
                }
                
                .c-black-100 {
                    color: var(--c-black-100);
                }
                
                .text_black {
                    color: var(--clr-black);
                }
                
                .white {
                    color: var(--white);
                }
                
                .bg_grayblack {
                    background-color: var(--black-gray);
                }
                
                .font-gradient {
                    background: linear-gradient(100.62deg, #00ffe1 31.2%, #6e5df6 48.95%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                
                .fs_xs {
                    font-size: var(--fs-xs);
                }
                
                .fs_sm {
                    font-size: var(--fs-sm);
                }
                
                .fs_md {
                    font-size: var(--fs-md);
                }
                
                .fs_2md {
                    font-size: var(--fs_2md);
                }
                
                .fs_4md {
                    font-size: var(--fs-4md);
                }
                
                .fs_8md {
                    font-size: var(--fs-8md);
                }
                
                .fs_lg {
                    font-size: var(--fs-lg);
                }
                
                .fs_6lg {
                    font-size: var(--fs-6lg);
                }
                
                .fs_xl {
                    font-size: var(--fs-xl);
                }
                
                .fs_8xl {
                    font-size: var(--fs-8xl);
                }
                
                .fs_xxl {
                    font-size: var(--fs-xxl);
                }
                
                .fs_2xxl {
                    font-size: var(--fs-2xxl);
                }
                
                .fs_3xxl {
                    font-size: var(--fs-3xxl);
                }
                /*=================line-heght================= */
                
                .lh_xsm {
                    line-height: var(--lh-xsm);
                }
                
                .lh_sm {
                    line-height: var(--lh-sm);
                }
                
                .lh_md {
                    line-height: var(--lh-md);
                }
                
                .lh_2md {
                    line-height: var(--lh-2md);
                }
                
                .lh_lg {
                    line-height: var(--lh-lg);
                }
                
                .lh_2lg {
                    line-height: var(--lh-2lg);
                }
                
                .lh_xl {
                    line-height: var(--lh-xl);
                }
                
                .lh_xxl {
                    line-height: var(--lh-xxl);
                }
                
                .lh_2xl {
                    line-height: var(--lh-2xl);
                }
                
                .lh_3xl {
                    line-height: var(--lh-3xl);
                }
                
                .lh_4xl {
                    line-height: var(--lh-4xl);
                }
                
                .lh_5xl {
                    line-height: var(--lh-5xl);
                }
                
                .lh_6xl {
                    line-height: var(--lh-6xl);
                }
                
                .lh_7xl {
                    line-height: var(--lh-7xl);
                }
                
                .lh_8xl {
                    line-height: var(--lh-8xl);
                }
                
                .lh_9xl {
                    line-height: var(--lh-9xl);
                }
                
                .lh_10xl {
                    line-height: var(--lh-10xl);
                }
                
                .lh_11xl {
                    line-height: var(--lh-11xl);
                }
                
                .lh_12xl {
                    line-height: var(--lh-12xl);
                }
                /* header */
                
                .max-w-665 {
                    max-width: 665px;
                }
                
                .vedio {
                    padding: 1.84px;
                    margin: 0;
                    border-radius: 7.2px;
                    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
                }
                
                .vedio video {
                    border-radius: 7.2px;
                }
                
                .px-12P {
                    padding-left: 12px;
                    padding-right: 12px;
                }
                
                .mt-39 {
                    margin-top: 39px !important;
                }
                
                .box-email {
                    padding: 20px;
                    backdrop-filter: blur(20px);
                }
                /* ----------------footer-section---------------- */
                
                .hoverText {
                    transition: all linear 300ms;
                }
                
                .hoverText:hover {
                    color: var(--greenlight);
                    /* change your color  */
                }
                
                .imgPostion4 {
                    position: absolute;
                    right: 2%;
                    bottom: 15.88%;
                }
                
                @media (min-width:575.5px) {
                    .imgAi:hover {
                        transform: scale(1.05);
                    }
                    .AiStockCard {
                        padding: 24px;
                    }
                    .AiStockInput {
                        padding: 15px 16px;
                    }
                    .AiStockInputPhone {
                        padding: 15px 16px;
                    }
                }
                
                @media (min-width:768px) {
                    .imgAi {
                        max-width: 180px;
                        height: 170px;
                    }
                    .imgPostion {
                        position: absolute;
                        left: 2.9%;
                        top: 19%;
                    }
                    .imgPostion1 {
                        position: absolute;
                        right: 32%;
                        top: 2%;
                    }
                    .imgPostion5 {
                        position: absolute;
                        right: 33%;
                        bottom: 33.33%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 32%;
                        bottom: 0;
                    }
                }
                
                @media (min-width:992px) {
                    .imgPostion1 {
                        position: absolute;
                        right: 31.6%;
                        top: 2%;
                    }
                    .imgPostion4 {
                        position: absolute;
                        right: 2%;
                        bottom: 16.22%;
                    }
                    .imgPostion5 {
                        position: absolute;
                        right: 30.9%;
                        bottom: 32%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 31.6%;
                        bottom: -1%;
                    }
                }
                
                @media (min-width: 1023.8px) {
                    .imgPostion4 {
                        position: absolute;
                        right: 2%;
                        bottom: 15.22%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 31.6%;
                        bottom: -2%;
                    }
                }
                
                @media (min-width:1200px) {
                    .imgAi {
                        max-width: 180px;
                        height: 176px;
                    }
                    .imgPostion4 {
                        position: absolute;
                        right: 2%;
                        bottom: 15.33%;
                    }
                    .imgPostion3 {
                        position: absolute;
                        right: 2%;
                        top: 17.6%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 31.6%;
                        bottom: -1%;
                    }
                    .imgPostion5 {
                        position: absolute;
                        right: 31.9%;
                        bottom: 32%;
                    }
                }
                
                @media (max-width:504px) {
                    .imgAi {
                        max-width: 151px;
                        height: 134px;
                        transition: all linear 300ms;
                    }
                    .imgPostion {
                        position: absolute;
                        left: 2%;
                        top: 18.3%;
                    }
                    .imgPostion2 {
                        position: absolute;
                        left: 2%;
                        bottom: 19.33%;
                    }
                    .imgPostion3 {
                        position: absolute;
                        right: 2%;
                        top: 18.3%;
                    }
                    .imgPostion4 {
                        position: absolute;
                        right: 2%;
                        bottom: 19.33%;
                    }
                    .imgPostion1 {
                        position: absolute;
                        right: 32%;
                        top: 2%;
                    }
                    .imgPostion5 {
                        position: absolute;
                        right: 33%;
                        bottom: 33.33%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 32%;
                        bottom: 2%;
                    }
                }
                
                @media (max-width:442px) {
                    .imgAi {
                        max-width: 131px;
                        height: 116px;
                        transition: all linear 300ms;
                    }
                    .imgPostion1 {
                        position: absolute;
                        right: 32%;
                        top: 2%;
                    }
                    .imgPostion7 {
                        position: absolute;
                        right: 32%;
                        bottom: 2%;
                    }
                    /* new class add  */
                    .imgPostion3 {
                        position: absolute;
                        right: 3%;
                        top: 18.3%;
                    }
                    .imgPostion4 {
                        position: absolute;
                        right: 3%;
                        bottom: 18.33%;
                    }
                    .imgPostion5 {
                        position: absolute;
                        right: 35%;
                        bottom: 36.33%;
                    }
                    .imgPostion {
                        position: absolute;
                        left: 4%;
                        top: 18.3%;
                    }
                    .imgPostion2 {
                        position: absolute;
                        left: 4%;
                        bottom: 18.33%;
                    }
                }
                
                @media (max-width:410px) {
                    .imgAi {
                        max-width: 111px;
                        height: 97px;
                        transition: all linear 300ms;
                    }
                }