.mobile_inner_part {
  padding: 28px 8px;
  max-width: 225px;
  top: 4%;
  left: 8%;
}

.mobile_back_ellp {
  left: 2%;
  top: 12%;
  max-width: 310px;
  height: 350px;
}

@media (min-width: 576px) {
  .mobile_inner_part {
    padding: 28px 14px;
  }
  .mobile_back_ellp {
    left: 25% !important;
    top: 16% !important;
    max-width: 361px !important;
    height: 321px !important;
  }
}
@media (min-width: 768px) {
  .mobile_inner_part {
    padding: 28px 3px;
    max-width: 264px;
    left: 10%;
  }

  .mobile_back_ellp {
    left: 27% !important;
    max-width: 461px !important;
    height: 421px !important;
  }
}

@media (min-width: 992px) {
  .mobile_back_ellp {
    left: 10.5% !important;
    top: 16% !important;
  }
}
