.submitFooter_from[disabled]:hover::before {
    left: -25% !important;
}

.submitFooter_from[disabled]:hover::after {
    background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
}

@media (max-width:504px) {
    .imgAi {
        max-width: 151px;
        height: 124px;
        transition: all linear 300ms;
    }
    .imgPostion {
        position: absolute;
        left: 2%;
        top: 20.3%;
    }
    .imgPostion5 {
        position: absolute;
        right: 35%;
        bottom: 36.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 34%;
        bottom: 4%;
    }
}

@media (max-width: 492px) {
    .imgPostion5 {
        position: absolute;
        right: 32%;
        bottom: 36.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 32%;
        bottom: 2%;
    }
}

@media (max-width: 442px) {
    .imgAi {
        max-width: 131px;
        height: 116px;
        transition: all linear 300ms;
    }
    .imgPostion2 {
        position: absolute;
        left: 2%;
        bottom: 17.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 2%;
        top: 18.3%;
    }
    .imgPostion4 {
        position: absolute;
        right: 2%;
        bottom: 17.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 32%;
        bottom: 2%;
    }
    .imgPostion5 {
        position: absolute;
        right: 35%;
        bottom: 36.33%;
    }
    .imgPostion {
        position: absolute;
        left: 4%;
        top: 18.3%;
    }
    .imgPostion2 {
        position: absolute;
        left: 4%;
        bottom: 18.33%;
    }
}

@media (max-width:410px) {
    .imgAi {
        max-width: 121px;
        height: 100px;
        transition: all linear 300ms;
    }
}

@media (max-width: 380px) {
    .imgAi {
        max-width: 111px;
        height: 96px;
        transition: all linear 300ms;
    }
}

@media (min-width: 575.5px) {
    .imgAi {
        max-width: 180px;
        height: 166px;
    }
    .imgPostion2 {
        position: absolute;
        left: 2%;
        bottom: 17.33%;
    }
}

@media (min-width:768px) {
    .imgAi {
        max-width: 180px;
        height: 176px;
    }
    .imgPostion2 {
        position: absolute;
        left: 3%;
        bottom: 15.33%;
    }
    .imgPostion5 {
        position: absolute;
        right: 33%;
        bottom: 32.33%;
    }
}

@media (min-width:992px) {
    .imgAi {
        max-width: 170px;
        height: 164px;
        transition: all linear 300ms;
    }
    .imgPostion1 {
        position: absolute;
        right: 32%;
        top: 1%;
    }
}

@media (min-width: 1023.8px) {
    .imgAi {
        max-width: 170px;
        height: 160px;
    }
    .imgPostion1 {
        position: absolute;
        right: 33%;
        top: 2%;
    }
    .imgPostion7 {
        position: absolute;
        right: 33.6%;
        bottom: 0%;
    }
    .imgPostion5 {
        position: absolute;
        right: 34%;
        bottom: 34%;
    }
}

@media (min-width:1200px) {
    .imgAi {
        max-width: 190px;
        height: 176px;
    }
    .imgPostion1 {
        position: absolute;
        right: 32%;
        top: 2%;
    }
    .imgAi {
        max-width: 180px;
        height: 176px;
    }
    .imgPostion4 {
        position: absolute;
        right: 2%;
        bottom: 15.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 2%;
        top: 17.6%;
    }
    .imgPostion7 {
        position: absolute;
        right: 31.6%;
        bottom: -1%;
    }
    .imgPostion5 {
        position: absolute;
        right: 31.9%;
        bottom: 32%;
    }
}