@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*=========font-size========*/
  --fs-xs: 16px;
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs_2md: 21.13px;
  --fs-4md: 24px;
  --fs-8md: 28px;
  --fs-lg: 32px;
  --fs-6lg: 36px;
  --fs-xl: 40px;
  --fs-8xl: 48px;
  --fs-xxl: 52px;
  --fs-2xxl: 70px;
  --fs-3xxl: 88.24px;

  /*=============line-height============= */
  --lh-xsm: 24px;
  --lh-sm: 25px;
  --lh-md: 25.6px;
  --lh-2md: 26px;
  --lh-lg: 27.24px;
  --lh-2lg: 28px;
  --lh-xl: 29px;
  --lh-xxl: 30px;
  --lh-2xl: 33px;
  --lh-3xl: 34px;
  --lh-4xl: 44px;
  --lh-5xl: 46px;
  --lh-6xl: 47px;
  --lh-7xl: 60px;
  --lh-8xl: 65px;
  --lh-9xl: 62px;
  --lh-10xl: 75px;
  --lh-11xl: 87px;
  --lh-12xl: 103px;
  --lh-6xxl: 54.47px;
  /*==========colors=========*/
  --clr-black: #010101;
  --c-gray: #cccecf;
  --c-black-100: #010101;
  --off-black: #0b0e10;
  --off-black2: #0b0f11;
  --off-black3: #020507;
  --off-black4: #010101;
  --off-black5: #15171a;
  --gray: #4d4f51;
  --green: #00ffe1;
  --green-2d: #2db964;
  --c-gray: #cccecf;
  --c-black-100: #010101;
  --c-light-green: #23cae7;
  --white: #ffffff;
  --black: #000000;
  --greenlight: #00ffe1;
  --gray: #b2b5b6;
  --gray-b3: #b3b4b6;
  --gray-4e: #4e5051;
  --black-gray: #0f1b22;
  --black-45: #353739;
}

/* changes css */
/* root-color */
.gray-b3 {
  color: var(--gray-b3);
}
.gray-4e {
  color: var(--gray-4e);
}
.black-45 {
  color: var(--black-45);
}
.green-2d {
  color: var(--green-2d);
}
.font-gradient {
  background: linear-gradient(180.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ellipse_1 {
  width: 300px;
  height: 190px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  filter: blur(144px);
  z-index: -1;
  top: 8%;
  left: -13% !important;
}

.ellipse_2 {
  width: 200px;
  height: 150px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  filter: blur(130px);
  z-index: -1;
  bottom: 24%;
  right: -25% !important;
}
.ellipse_3 {
  width: 100px;
  height: 150px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
  filter: blur(130px);
  z-index: -1;
  top: 11%;
  right: -10% !important;
}
.trade_btn {
  padding: 8px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 11.1px 0px #0000001a;
}
.mb-10 {
  margin-bottom: 10px;
}
.benifit_card {
  padding: 30px 10.5px 30px 10.5px;
  height: 200px !important;
  max-height: 100%;
  max-width: 250px;
}

.benifit_gradient {
  padding: 1px;
}
.benifit_gradient:hover {
  border-radius: 12px;
  max-width: 250px;
  background: linear-gradient(171.68deg, #00ffe1 39.97%, #6e5df6 107.69%);
}
.man_img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.understanding_card {
  border-radius: 15px;
  width: 524px;
  max-width: 100%;
  min-height: 260px;
  padding: 20px 20px 60px 20px !important;
  background: linear-gradient(82.41deg, #00ffe1 -12.77%, #6e5df6 93.08%);
}
.accounts_card {
  padding: 20px;
  background: white;
  max-width: 310px;
  border-radius: 15px;
  transform: translateY(-10%);
}
.trade_img {
  border-radius: 10px;
}

@media (min-width: 576px) {
  .accounts_card {
    max-width: 471px;
  }
}
@media (min-width: 992px) {
  .accounts_card {
    transform: translateY(-15%);
  }
}
@media (min-width: 1024px) {
  .mb-lg-80 {
    margin-bottom: 80px;
  }
}
