

:root {

    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs_2md: 21.13px;
    --fs-4md: 24px;
    --fs-8md: 28px;
    --fs-lg: 32px;
    --fs-6lg: 36px;
    --fs-xl: 40px;
    --fs-8xl: 48px;
    --fs-xxl: 52px;
    --fs-2xxl: 70px;
    --fs-3xxl: 88.24px;
  /*=============line-height============= */
    --lh-xs: 21.79px;
    --lh-xsm: 24px;
    --lh-sm: 25px;
    --lh-md: 25.6px;
    --lh-2md: 26px;
    --lh-lg: 27.24px;
    --lh-2lg: 28px;
    --lh-xl: 29px;
    --lh-xxl: 30px;
    --lh-2xl: 33px;
    --lh-3xl: 34px;
    --lh-4xl: 44px;
    --lh-5xl: 46px;
    --lh-6xl: 47px;
    --lh-7xl: 60px;
    --lh-8xl: 65px;
    --lh-9xl: 62px;
    --lh-10xl: 75px;
    --lh-11xl: 87px;
    --lh-12xl: 103px;
    --lh-6xxl: 54.47px;
      --lh-35:35px 
    /*==========colors=========*/
    --clr-black: #010101;
    --c-gray: #CCCECF;
    --c-black-100: #010101;
    --off-black: #0b0e10;
    --off-black2: #0b0f11;
    --off-black3: #020507;
    --off-black4: #010101;
    --off-black5: #15171a;
    --gray: #4d4f51;
    --green: #00ffe1;
    --c-gray: #CCCECF;
    --c-black-100: #010101;
    --c-light-green: #23CAE7;
    --white: #ffffff;
    --black: #000000;
    --greenlight: #00FFE1;
    --gray: #B2B5B6;
    --black-gray: #0F1B22;
    --gray-b3: #b3b4b6;
    --gray-4e: #4e5051;
    --black-gray: #0f1b22;
    --black-45: #353739;
}

.lh-xs{
  line-height: var(--lh-xs);
}
.lh-35{
  line-height: var(--lh-35);
}
.nividia-logo{
  max-width: 280.01px;
}
.max-w-445{
  max-width: 445px;
}

.stock_bubble-bg {
  border-radius: 70% 30% 73% 27% / 43% 32% 68% 57%;
  animation: stock_bubble_radious 7s linear infinite alternate;
}
.linear_bg {
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.stock_bubble-right_bg {
  border-radius: 70% 30% 73% 27% / 43% 32% 68% 57%;
  animation: stock_bubble_radious 7s linear infinite alternate;
}

@keyframes stock_bubble_radious {
  25% {
    border-radius: 48% 52% 18% 82% / 53% 46% 54% 47%;
  }
  50% {
    border-radius: 20% 80% 18% 82% / 22% 31% 69% 78%;
  }
  75% {
    border-radius: 20% 80% 73% 27% / 22% 59% 41% 78%;
  }
  100% {
    border-radius: 70% 30% 73% 27% / 43% 59% 41% 57%;
  }
}
.stock_bubble-left{
   width: 280px !important;
  height: 300px  !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  transform: translateY(-50%);
  z-index: -1;
}
 .stock_bubble-right {
  width: 280px !important;
  height: 300px  !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  transform: translateY(-50%);
  z-index: -1;
}
.white_bg_box{
  padding: 25px;
  max-width: 260px;
  max-height: 280px;
  width: 100%;
  background: white;
}

.text_gradient2 {
  background:
linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.max-w-502 {
  max-width: 502.21px;
}
.readbtn {
 background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  padding: 12px 24px;
  border-radius: 4px;
  transition: all 0.3s linear;
  border: none;
}

/* Popup container / */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.submitFooter_from[disabled]:hover::before {
    left: -25% !important;
}

.submitFooter_from[disabled]:hover::after {
    background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
}
.close:hover{
  opacity: 0.5;
}
.pink-gradient-leftline{
 width: 42%;
background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, rgba(255, 0, 102, 0) 100%);
position: absolute;
top: 50%;
right: 0;
height: 3px;
z-index: -1;
}
.pink-gradient-rightline {
    width: 42%;
    background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, rgba(255, 0, 102, 0) 100%);
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    rotate: 180deg;
    z-index: -1;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms linear;
}

.bgpopup {
  background-image: url('/assets/images/webp/pink-bg-popup.webp');
  background-position: center;
  background-size: cover;
  border: 1px solid #ffffff4d;
  padding: 98.5px 60px 83px;
  max-width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 100%;
}

.popup_form {
  padding: 20px;
  background: #ffffff;
 border: 1px solid #0000001A;
  border-radius: 15px;
  max-width: 528px;
}

.popup_input {
  border: 1px solid #00000033;
  outline: none;
  border-radius: 6px;
  padding: 13px;
}
.right-pink-box{
        width: 248px;
    height: 226px;
      background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    position: absolute;
    left: 14%;
    top: -16%;
    z-index: -1;
    border-radius: 26px;
}
.left-pink-box{
        width: 248px;
    height: 226px;
      background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    position: absolute;
   right: 14%;
    top: -16%;
    z-index: -1;
    border-radius: 26px;
}
.popup_button {
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  padding: 12px 12px;
  border: none;
  border-radius: 6px;
}
.blur_btn {
    padding: 17px 12.79px;
    z-index: 1;
    background: #ffffff21;
    backdrop-filter: blur(50px);
    position: relative;
}
.stock_rate_right{
      position: absolute;
    bottom: -10%;
    right: -26%;
}
.nividia-topellipse{
  width: 240px;
  height: 240px;
  background:linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(200px);
position: absolute;
top: 0;
left: -16%;
}
.nividia-bottomellipse{
  width: 240px;
  height: 240px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(200px);
position: absolute;
top: 10%;
right: -16%;
}
.microsoft-ellipse{
  width: 346px;
  height: 346px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(200px);
position: absolute;
top: 20%;
left: -30%;
}
.aws-ellipse{
  width: 204px;
  height: 204px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(200px);
position: absolute;
top: 35%;
right: -30%;
}
.plantir-ellipse{
  width: 280px;
  height: 280px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(250px);
position: absolute;
top: 52%;
left: -28%;
}
.crowd-ellipse{
  width: 304px;
  height: 304px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(250px);
position: absolute;
top: 60%;
right: -30%;
}
.ui-ellipse{
  width: 244px;
  height: 204px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(300px);
position: absolute;
top: 70%;
left: -30%;
}
.ui-ellipse2{
  width: 25px;
  height: 250px;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(250px);
position: absolute;
top: 78%;
right: -26%;
}
.arista-ellipse2{
  width: 220px;
  height: 226px;
background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
filter: blur(250px);
position: absolute;
top: 90%;
left: -28%;
}
.stock-2{
  padding: 22px 31px 36px 62px !important;
}
.stock-3{
  padding: 50px !important;
}
.stock-4{
  padding: 90px 40px !important;
}
.stock-5{
  padding: 64px 12px !important;
}
.stock-6{
  padding: 68px 32.68px !important;
}
.stock-7{
  padding: 96px 19px !important;
}
.stock_rate_left{
  position: absolute;
   bottom: -14%;
   left: -20%;
}
.blur_btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.popup-topright-ellipse {
  background: #98BD42;
  height: 365px;
  width: 365px;
  filter: blur(500px);
  top: -60%;
  right: -60%;
  overflow: hidden;
  position: absolute;
}
.popup-bottomleft-ellipse {
   background: #98BD42;
  height: 365px;
  width: 365px;
  filter: blur(600px);
  bottom: -40%;
  left: -20%;
  overflow: hidden;
  position: absolute;
}

@media (min-width: 768px) {
    .right-pink-box{
   width: 314px;
        height: 236px;
      left: 22%;
}
   .left-pink-box{
   width: 314px;
        height: 236px;
      right: 22%;
}
  .stock_bubble-right {
 width: 360px !important;
  height: 350px !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  transform: translateY(-50%);
  z-index: -1;
  }
  .stock_bubble-left{
   width: 360px !important;
  height: 350px  !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  transform: translateY(-50%);
  z-index: -1;
}
  .white_bg_box{
  padding: 30px;
  max-width: 335px;
  max-height: 300px;
  width: 100%;
  background: white;
}
.popup_form {
  padding: 20px;
  background: #ffffff;
 border: 1px solid #0000001A;
  border-radius: 15px;
  max-width: 528px;
}
}
 @media (min-width:992px) {
     .right-pink-box{
    width: 366px;
    height: 315px;
    left: 20%;
}
    .left-pink-box{
    width: 366px;
    height: 315px;
    right: 20%;
}
  .nividia-bottomellipse{
  width: 346px;
  height: 346px;
}
.microsoft-ellipse{
  width: 346px;
  height: 346px;
}
.aws-ellipse{
  width: 314px;
  height: 314px;
}
.plantir-ellipse{
  width: 340px;
  height: 340px;
}
.crowd-ellipse{
  width: 344px;
  height: 344px;
}
.ui-ellipse{
  width: 344px;
  height: 344px;
}

.nividia-topellipse{
  width: 346px;
  height: 346px;
}
.nividia-bottomellipse{
  width: 346px;
  height: 346px;
}
  .ui-ellipse2{
  width: 304px;
  height: 304px;
}
.arista-ellipse2{
  width: 346px;
  height: 346px;
}
.stock-2{
  padding: 22px 31px 36px 62px !important;
}
.stock-3{
  padding: 78px 35px !important;
}
.stock-4{
  padding: 133px 40px !important;
}
.stock-5{
  padding: 114px 12px !important;
}
.stock-6{
  padding: 115px 32.68px !important;
}
.stock-7{
  padding: 142px 19px !important;
}
  .white_bg_box{
  padding: 49px 59.79px 79px 27.21px;
  max-width: 375px;
  max-height: 340px;
  width: 100%;
  background: white;
}
.stock_bubble-left{
   width: 460px !important;
  height: 421px  !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  left: -20%;
  transform: translateY(-50%);
  z-index: -1;
}
 .stock_bubble-right {
  width: 461px !important;
  height: 421px !important;
  position: absolute;
  pointer-events: none !important;
  top: 55%;
  transform: translateY(-50%);
  z-index: -1;
}
.popup_form {
  padding: 30px;
  background: #ffffff;
 border: 1px solid #0000001A;
  border-radius: 15px;
  max-width: 528px;
}
}

@media (max-width: 1200px) {
  .popup_form {
    max-width: 457px !important;
  }
  .bgpopup {
    padding: 83px 30px 84px 30px !important;
    max-width: 1000px !important;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .bgpopup {
    max-width: 690px !important;
    padding: 30px !important;
    overflow-y: scroll !important;
    height: 630px !important;
    width: 100%;
  }
  .stock_rate_right {
    position: absolute;
    bottom: -22%;
    right: -26%;
}
}
@media (max-width:576px) {
  :root {
    --lh-6xl:32px;
        --lh-md: 22px;
  --lh-xs: 21.79px;
  --lh-35:35px;

  --fs-8md: 20px;
}
 .bgpopup {
    padding: 83px 30px 84px 30px !important;
    width: 100%;
    max-width: 420px !important;
  }
.blur_btn {
    padding: 12px;
    z-index: 1;
    background: #ffffff21;
    backdrop-filter: blur(50px);
    position: relative;
}
.stock_rate_left{
  position: absolute;
   bottom: -14%;
   left: 0;
}
    .stock_rate_right {
        position: absolute;
        bottom: -14%;
        right: 0;
    }
    .rate-arrow{
      width: 40px !important;
    }
.w-sm-100{
  width: 100% !important;
}
.bgpopup{
          padding: 40px 16px 40px 16px !important;
}
}
@media (max-width:400px) {
  .bgpopup {
    padding: 83px 30px 84px 30px !important;
    width: 100%;
    max-width: 320px !important;
  }
}


