.submitFooter_from[disabled]:hover::before {
    left: -25% !important;
}

.submitFooter_from[disabled]:hover::after {
    background: linear-gradient(107.02deg, #00ffe1 12.76%, #6e5df6 91.81%);
}


/* ---------------faq--------------- */

.accordion {
    --bs-accordion-border-color: none !important;
    --bs-accordion-border-width: none !important;
    --bs-accordion-active-color: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-btn-icon-width: 22px !important;
}

.accordion-item {
    padding-bottom: 6px !important;
    background-color: transparent !important;
    color: var(--white) !important;
    border-bottom: 0.5px solid var(--greenlight) !important;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.accordion-button {
    display: flex;
    align-items: start !important;
    padding: 9px 3px !important;
}

.accordion-button::after {
    margin-left: auto;
    content: "";
    background-image: url(../images/svg/ArrowUp.svg) !important;
    background-size: none !important;
}

.faqSection button:not(:disabled) {
    cursor: pointer;
    background-color: transparent !important;
    color: white;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}


/* .accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/ArrowUp.svg) !important;
} */

.accordion-body {
    color: var(--cd-gray);
    padding: 6px 25px 0px 3px !important;
    padding-top: 0px !important;
}


/* img */

.imgAi {
    max-width: 180px;
    height: 100px;
}

.imgPostion {
    position: absolute;
    left: 9%;
    top: 23.3%;
}

.imgPostion1 {
    position: absolute;
    right: 41%;
    top: 11%;
}

.imgAi {
    max-width: 180px;
    height: 176px;
}

.imgPostion4 {
    position: absolute;
    right: 8%;
    bottom: 10.33%;
}

.imgPostion3 {
    position: absolute;
    right: 10%;
    top: 24.6%;
}

.imgPostion7 {
    position: absolute;
    right: 37.6%;
    bottom: -7%;
}

.imgPostion5 {
    position: absolute;
    right: 37.9%;
    bottom: 27%;
}

.brandGroupwidth {
    max-width: 518px;
    height: 534px;
}


/* @media (max-width:504px) {
    .imgAi {
        max-width: 151px;
        height: 124px;
        transition: all linear 300ms;
    }
    .imgPostion {
        position: absolute;
        left: 2%;
        top: 20.3%;
    }
    .imgPostion5 {
        position: absolute;
        right: 35%;
        bottom: 36.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 34%;
        bottom: 4%;
    }
}

@media (max-width: 492px) {
    .imgPostion5 {
        position: absolute;
        right: 32%;
        bottom: 36.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 32%;
        bottom: 2%;
    }
}

@media (max-width: 442px) {
    .imgAi {
        max-width: 131px;
        height: 116px;
        transition: all linear 300ms;
    }
    .imgPostion2 {
        position: absolute;
        left: 2%;
        bottom: 17.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 2%;
        top: 18.3%;
    }
    .imgPostion4 {
        position: absolute;
        right: 2%;
        bottom: 17.33%;
    }
    .imgPostion7 {
        position: absolute;
        right: 32%;
        bottom: 2%;
    }
    .imgPostion5 {
        position: absolute;
        right: 35%;
        bottom: 36.33%;
    }
    .imgPostion {
        position: absolute;
        left: 4%;
        top: 18.3%;
    }
    .imgPostion2 {
        position: absolute;
        left: 4%;
        bottom: 18.33%;
    }
}

@media (max-width:410px) {
    .imgAi {
        max-width: 121px;
        height: 100px;
        transition: all linear 300ms;
    }
    .imgPostion7 {
        position: absolute;
        right: 34%;
        bottom: 2%;
    }
} */


/* @media (max-width: 380px) {
    .imgAi {
        max-width: 111px;
        height: 96px;
        transition: all linear 300ms;
    }
} */

@media (min-width: 575.5px) {
    .imgAi {
        max-width: 107px;
        height: 90px;
    }
    .imgPostion1 {
        position: absolute;
        right: 41%;
        top: 11%;
    }
    .imgPostion2 {
        position: absolute;
        left: 9%;
        bottom: 20%;
    }
    .imgPostion4 {
        position: absolute;
        right: 8%;
        bottom: 21.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 10%;
        top: 24.6%;
    }
    .imgPostion7 {
        position: absolute;
        right: 39.6%;
        bottom: 3%;
    }
    .imgPostion5 {
        position: absolute;
        right: 40.9%;
        bottom: 38%;
    }
}


/* @media (min-width:768px) {
    .imgAi {
        max-width: 107px;
        height: 90px;
    }
    .imgPostion1 {
        position: absolute;
        right: 41%;
        top: 11%;
    }
    .imgPostion2 {
        position: absolute;
        left: 9%;
        bottom: 20%;
    }
    .imgPostion4 {
        position: absolute;
        right: 8%;
        bottom: 21.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 10%;
        top: 24.6%;
    }
    .imgPostion7 {
        position: absolute;
        right: 39.6%;
        bottom: 3%;
    }
    .imgPostion5 {
        position: absolute;
        right: 40.9%;
        bottom: 38%;
    }
} */

@media (min-width:992px) {
    .imgAi {
        max-width: 100px;
        height: 80px;
    }
    .imgPostion {
        position: absolute;
        left: 9%;
        top: 20.3%;
    }
    .imgPostion1 {
        position: absolute;
        right: 41%;
        top: 11%;
    }
    .imgPostion2 {
        position: absolute;
        left: 10%;
        bottom: 30%;
    }
    .imgPostion4 {
        position: absolute;
        right: 8%;
        bottom: 30.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 9%;
        top: 20.6%;
    }
    .imgPostion7 {
        position: absolute;
        right: 38.6%;
        bottom: 15%;
    }
    .imgPostion5 {
        position: absolute;
        right: 39.9%;
        bottom: 44%;
    }
}

@media (min-width:1200px) {
    .imgAi {
        max-width: 100px;
        height: 80px;
    }
    .imgPostion {
        position: absolute;
        left: 9%;
        top: 20.3%;
    }
    .imgPostion1 {
        position: absolute;
        right: 41%;
        top: 11%;
    }
    .imgPostion2 {
        position: absolute;
        left: 10%;
        bottom: 30%;
    }
    .imgPostion4 {
        position: absolute;
        right: 10%;
        bottom: 23.33%;
    }
    .imgPostion3 {
        position: absolute;
        right: 9%;
        top: 20.6%;
    }
    .imgPostion7 {
        position: absolute;
        right: 38.6%;
        bottom: 15%;
    }
    .imgPostion5 {
        position: absolute;
        right: 40.9%;
        bottom: 38%;
    }
}