@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./style.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --c-gray: #CCCECF;
    --c-black-100: #010101;
    --c-light-green: #23CAE7;
}

.c-gray {
    color: var(--c-gray);
}

.c-black-100 {
    color: var(--c-black-100);
}

.c-light-green {
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    color: transparent;
    background-clip: text;
}

/* header  classes  */

.bg-hero-img {
    background-image: url(../images/png/Heroimg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-button {
    padding: 12px 24px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    transition: all .3s linear;
    overflow: hidden;
}

.mt-20 {
    margin-top: 20px;
}

.box-time {
    max-width: 128px;
    position: relative;
    z-index: 1;
    padding: 14px 18px;
    background: #ffffff01;
    backdrop-filter: blur(20px);
}

.box-time::after {
    content: '';
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #04090E;
}

.nav-button::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    opacity: 1;
    transition: all .3s linear;
}

.nav-button:hover {
    background-color: white;
}
.nav-button:hover::after {
    opacity: 0;
}

.max-w-388 {
    max-width: 388px;
}

.nav-background {
    background-color: #ffffff17;
}

.linner-layer-bottom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(195.67deg, #00FFE1 83.47%, #6E5DF6 102.11%);
    filter: blur(9px);
}

.header-text-gradiant {
    background: linear-gradient(177.45deg, #00FFE1 6.58%, #6E5DF6 39.18%);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.px_2 {
    padding-left: 2px;
    padding-right: 2px;
}

.max-w-665 {
    max-width: 665px;
}


.vedio {
    max-width: 632px;
    max-height: 359px;
    padding: 1.84px;
    margin: 0 12px;
    border-radius: 7.2px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
}

.vedio video {
    border-radius: 7.2px;
}

.px-12P {
    padding-left: 12px;
    padding-right: 12px;
}

.max-w-654 {
    max-width: 654px;
}

.mt-39 {
    margin-top: 39px !important;
}

.box-email {
    padding: 20px;
    backdrop-filter: blur(20px);
}

.ellipes-card-email {
    width: 88px;
    height: 88px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(89px);
    position: absolute;
    top: -2%;
    right: -6%;
    z-index: -1;
    border-radius: 50%;
}

.ellipes2-card-email {
    width: 88px;
    height: 88px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(89px);
    position: absolute;
    top: 13%;
    left: -4%;
    z-index: -1;
    border-radius: 50%;
}

.gradient-border-mask3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    border: 2px solid transparent;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.gradient-border-mask3 {
    position: relative;
    z-index: 1;
    border-radius: 7px;
}

.email-input-style-header {
    padding: 16px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border: 0;
    outline: 0;
}

.email-input-style-header::placeholder {
    color: var(--c-black-100);
}

.bg-number {
    background-color: #EBECF0;
}

.mt-32 {
    margin-top: 32px;
}

.mt-14 {
    margin-top: 14px;
}

.pb_2 {
    padding-bottom: 2px;
}

.vedio-tag {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overflow-x-clip {
    overflow-x: clip;
}

.ellipes1headerleft-top {
    position: absolute;
    z-index: -1;
    top: 2%;
    left: -10%;
    width: 197px;
    height: 197px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(104px);
}

.ellipes2headerleft-topdown {
    position: absolute;
    z-index: -1;
    top: 41%;
    left: -11%;
    width: 197px;
    height: 197px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(107px);
}

.ellipes3headerleft-bottom {
    position: absolute;
    z-index: -1;
    bottom: 3%;
    left: -13%;
    width: 197px;
    fill: #00ffe1;
    height: 197px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(112px);
}

.mb-100 {
    margin-bottom: 100px;
}

.ellipes4headerright-top {
    position: absolute;
    z-index: -1;
    top: 26%;
    right: -8%;
    width: 197px;
    height: 197px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(108px);
}

.ellipes5headerright-bottom {
    position: absolute;
    z-index: -3;
    bottom: 6%;
    right: -10%;
    width: 197px;
    height: 197px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    filter: blur(128px);
}

.pb-58 {
    padding-bottom: 58px;
}

.gap-20 {
    gap: 20px;
}


.man-profile-card {
    padding: 20px;
    min-width: 367px;
    width: 100%;
    background: linear-gradient(90.19deg, rgba(255, 255, 255, 0.04) -76.18%, rgba(153, 153, 153, 0.0056) 88.54%);
    border-radius: 8px;
}

.brand_slider_parent {
    animation-name: sliderScroll;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transform: translateX(-1272px); */
    animation-delay: -70s;
}

.brand_slider_parent2 {
    animation-name: sliderScroll;
    animation-delay: -35s;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mt-44 {
    margin-top: 44px;
}

@keyframes sliderScroll {
    0% {
        transform: translateX(1772px);
        -webkit-transform: translateX(1772px);
        -moz-transform: translateX(1772px);
        -ms-transform: translateX(1772px);
        -o-transform: translateX(1772px);
    }

    100% {
        transform: translateX(-1272px);
    }
}


@media (min-width:768px) {
    .px-88 {
        padding-left: 88px;
        padding-right: 88px;
    }

    .box-time {
        max-width: 128px;
        padding: 27px 34px;
        background: #ffffff01;
        backdrop-filter: blur(20px);
    }

    .px-44 {
        padding-left: 44px;
        padding-right: 44px;
    }

    .bg-hero-img {
        background-image: url(../images/png/Heroimg.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width:1400px) or (max-width:1600px) {
    .container {
        max-width: 1164px !important;
    }
}